# set the udev rule , make the device_port be fixed by kubot camera.

# logi-c615
KERNEL=="ttyUSB*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0826", MODE:="0777", SYMLINK+="logi-c615"
